/* Main navbar */
.navbar-dately {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    border-bottom: 2px solid white;
    padding:20;
    background: #D2404D;
    transition: all 0.3s ease;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-title {
    color:white; 
    font-size:40; 
    margin:0;
    font-family: 'Nunito';
    font-weight: bolder;
  }

  .banner-title {
    color:white; 
    font-size:4.5em; 
    margin:0;
    font-family: 'Nunito';
    font-weight: bolder;
    font-style: italic;
  }

  .banner-title-mobile {
    color:white; 
    font-size:1.2em; 
    font-family: 'Nunito';
    font-weight: bolder;
    font-style: italic;
  }
  .banner-mobile {
    color:white; 
    font-size:2em; 
    margin:0;
    font-family: 'Nunito';
    font-weight: bolder;
    font-style: italic;
  }

  .banner {
    height:88vh;
    background-color: #D2404D;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
  }

  .banner-mobile {
    height:88vh;
    background-color: #D2404D;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex:1;
  }
  
  .store {
    width: 30vh;
    height: 8vh;
    margin:15
  }

  .store-mobile {
    width:20vh;
    height: 5.333vh;
    margin:15
  }
  
  
  .content {
    height:100vh;
    background-color: #EDEDED;
  }

  .store-logos {
    display: flex;
    justify-content: center;
  }
  /* Logo */
  .logo {
    height: 45px;
    margin-right:10px;
  }

  .brand-direction {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  /* Right section */
  .navbar-wagon-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Basic navbar item */
  .navbar-wagon-item {
    cursor: pointer;
    padding: 0 20px;
  }
  
  /* Navbar link */
  .navbar-wagon-link {
    color: #616668;
    font-size: 14px;
  }
  .navbar-wagon-link:hover {
    color: #da552f;
    text-decoration: none;
  }
  
  /* Dropdown menu */
  .navbar-wagon-dropdown-menu {
    margin-top: 15px;
    box-shadow: 1px 1px 4px #E6E6E6;
    border-color: #E6E6E6;
  }
  .navbar-wagon-dropdown-menu li > a {
    transition: color 0.3s ease;
    font-weight: lighter !important;
    color: #999999 !important;
    font-size: 15px !important;
    line-height: 22px !important;
  }
  .navbar-wagon-dropdown-menu li > a:hover {
    background: transparent !important;
    color: black !important;
  }
  .navbar-wagon-dropdown-menu:before {
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: -6px;
    background-color: white;
    transform: rotate(45deg);
    border-left: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
  }
  